aniso8601==9.0.1
atomicwrites==1.4.0
attrs==20.3.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==7.1.2
colorama==0.4.4
docopt==0.6.2
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
idna==3.3
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
pipreqs==0.4.11
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.17.1
pytz==2021.1
requests==2.26.0
six==1.15.0
SQLAlchemy==1.4.13
toml==0.10.2
urllib3==1.26.7
Werkzeug==1.0.1
yarg==0.1.9
